
.propertyDiv {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
}
.unitDiv {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    min-width: 200px;
}

.card {
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.float-right {
    float: right;
}
.nav-link{
    color: orange !important;
}
.navbar-brand {
    color: orange !important;
    font-size: 2.5em !important;
}
.accordion-button {
  padding: .6em !important;
  font-weight: bold !important;
}

.accordion-button:not(.collapsed) {
  padding: .6em !important;
}

.accordion-body {
  padding: 1em !important;
}
.overdue-balance{
    color: red !important;
}